.modal {
  text-align: left;
}

.modal :global .ant-modal-body {
  padding: 0;
}

.modal :global .ant-modal-content {
  border-radius: 8px;
  background-color: transparent;
}

.container {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}

.container textarea {
  padding: 12px 60px 12px 12px;
  resize: none;
  border-radius: 8px;
  border: none;
}

.container textarea:focus {
  outline: none;
  box-shadow: none;
}

.container textarea::placeholder {
  color: #847e7e;
}

.container .example {
  padding: 12px 60px 12px 12px;
  color: #847e7e;
}

.container .example:hover {
  text-decoration: underline;
}

.container .enter {
  position: absolute;
  right: 4px;
  bottom: 4px;
  display: flex;
  width: 48px;
  height: auto;
  pointer-events: none;
}

.source-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 12px 60px 12px 12px;
  background-color: #fff;
  border-radius: 8px;
}

.source-container .title {
  color: #2388FF;
  font-weight: bold;
  font-size: 14px;
}

.source-container .source-title {
  color: #5c6380;
  font-weight: bold;
  font-size: 14px;
}

.source-container .source-stauts {
  color: #837e7e;
  font-size: 14px;
}

.source-container .source-stauts .success {
  color: #3378fa;
}
