p {
  margin: 0;
}

.modal {
  text-align: left;
  min-width: 539px;

  :global {
    .ant-modal-body {
      position: relative;
      min-width: 539px;
      padding: 0;
    }

    .ant-modal-content {
      border-radius: 8px;
      background-color: transparent;
    }
  }
}

.container {
  position: relative;
  background-color: #fff;
  border-radius: 8px;


  textarea {
    padding: 12px 60px 12px 12px;
    resize: none;
    border-radius: 8px;
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: rgb(132, 126, 126);
    }
  }

  .example {
    position: relative;
    width: 85%;
    margin-bottom: 0;
    padding: 12px 60px 12px 12px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    color: rgb(132, 126, 126);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 10;
    }
  }

  .enter {
    position: absolute;
    right: 4px;
    bottom: 4px;
    display: flex;
    width: 48px;
    height: auto;
    pointer-events: none;
  }
}

.source-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;

  .title {
    flex-shrink: 0;
    margin-right: 10px;
    color: #2388FF;
    font-weight: bold;
    font-size: 14px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.setting {
  position: absolute;
  right: 0;
  width: 236px;
  // height: 108px;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;

  .title {
    font-weight: bold;
    font-size: 14px;
    color: #717171;
  }

  .text {
    margin-top: 10px;
    color: #727272;
    font-size: 12px;

    .switch {
      margin-right: 8px;
      //background-color: #4a755a;
    }
  }

  .close-setting-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #D9D9D9;
    cursor: pointer;
  }
}
