p {
  margin: 0;
}

.modal {
  text-align: left;
  min-width: 539px;
}

.modal :global .ant-modal-body {
  position: relative;
  min-width: 539px;
  padding: 0;
}

.modal :global .ant-modal-content {
  border-radius: 8px;
  background-color: transparent;
}

.container {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}

.container textarea {
  padding: 12px 60px 12px 12px;
  resize: none;
  border-radius: 8px;
  border: none;
}

.container textarea:focus {
  outline: none;
  box-shadow: none;
}

.container textarea::placeholder {
  color: #847e7e;
}

.container .example {
  position: relative;
  width: 85%;
  margin-bottom: 0;
  padding: 12px 60px 12px 12px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  color: #847e7e;
}

.container .example::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  z-index: 10;
}

.container .enter {
  position: absolute;
  right: 4px;
  bottom: 4px;
  display: flex;
  width: 48px;
  height: auto;
  pointer-events: none;
}

.source-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
}

.source-container .title {
  margin-right: 10px;
  color: #2388FF;
  font-weight: bold;
  font-size: 14px;
}

.source-container .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting {
  position: absolute;
  right: 0;
  width: 236px;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
}

.setting .title {
  font-weight: bold;
  font-size: 14px;
  color: #717171;
}

.setting .text {
  margin-top: 10px;
  color: #727272;
  font-size: 12px;
}

.setting .text .switch {
  margin-right: 8px;
}

.setting .close-setting-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #D9D9D9;
  cursor: pointer;
}
