.container .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .logo {
  width: 100px;
  height: 96px;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
  padding: 320px 0;
}

.container :global .ant-progress-status-success .ant-progress-inner {
  background-color: #52c41a !important;
}

.container :global .ant-progress-status-success .ant-progress-inner .ant-progress-circle-trail {
  stroke: #52c41a;
}

.container :global .ant-progress-status-success .ant-progress-text {
  color: white;
}

.container :global .ant-progress-status-success .ant-progress-text .anticon {
  font-size: 2.167em;
}

.container .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .content .title {
  font-size: 40px;
  font-weight: 700;
  color: #2388FF;
}

.container .content .tip {
  font-size: 20px;
  letter-spacing: 1px;
}

.container .content .tip-2 {
  font-size: 30px;
  letter-spacing: 1px;
}

.container .content .tip-3 {
  margin-top: 40px;
  line-height: 1.2em;
  font-size: 40px;
  color: #415da0;
  text-align: center;
}

.container .content .loading-icon {
  margin-top: 50px;
  width: 77px;
  height: 77px;
  transition: all;
  animation: load 2s infinite;
}

.container .top {
  position: absolute;
  right: 0;
  top: 20px;
  flex-direction: column;
}

.container .top .gif {
  width: 345px;
  height: 300px;
}

.container .top .direction {
  line-height: 2em;
  font-size: 20px;
  color: #34A353;
  font-weight: 700;
}

.container .top .git-arrow {
  width: 60px;
  height: 230px;
}

.container .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .bottom img {
  height: 100px;
  width: auto;
}

.container .bottom .direction {
  font-size: 20px;
  color: #6A32C9;
  font-weight: 700;
}

.container .bottom .doneTip {
  width: 100%;
  font-size: 40px;
  color: #000;
}

.container .point-1 {
  color: #2388FF;
  font-weight: 500;
}

.container .point-2 {
  color: #2b984d;
}

.container .point-3 {
  color: #6428be;
}
