@import '@/assets/style/public.extend';

.container {
  height: calc(100vh - 92px);
  padding: 0 10px;
  overflow-y: hidden;

  /** 滚动条样式 */
  @extend %pointread-extend-scrollbar;

  .goto-thinking {
    padding: 5px 0;
    color: var(--color-primary);
    text-align: right;

    &__text {
      font-size: var(--font-size);

      &_strong {
        padding: 0 3px;
        font-weight: bold;
        cursor: pointer;
      }

      &_icon {
        padding-left: 5px;
      }
    }
  }
}