#app-container {
    --main-bg-color: #F5F5F5;
    --font-size: 24px;
    --font-color: rgb(0, 0, 0);
    --color-black: rgb(20, 20, 20);
    --btn-text-color: rgb(223, 223, 223);
    --btn-font-size: 32px;
    --letter-spacing-1: 1px;
}