#pointread-sidebar *, #pointread-sidebar-flat * {
  box-sizing: border-box;
  font-weight: 400;
  direction: ltr;
}

#pointread-sidebar ul,
#pointread-sidebar ol, #pointread-sidebar-flat ul,
#pointread-sidebar-flat ol {
  list-style-type: none;
}

#pointread-sidebar img, #pointread-sidebar-flat img {
  vertical-align: middle;
  border-style: none;
}

#pointread-sidebar a, #pointread-sidebar-flat a {
  background-color: transparent;
}

#pointread-sidebar b,
#pointread-sidebar strong, #pointread-sidebar-flat b,
#pointread-sidebar-flat strong {
  font-weight: bolder;
}

#pointread-sidebar div,
#pointread-sidebar dl,
#pointread-sidebar dt,
#pointread-sidebar dd,
#pointread-sidebar ul,
#pointread-sidebar ol,
#pointread-sidebar li,
#pointread-sidebar h1,
#pointread-sidebar h2,
#pointread-sidebar h3,
#pointread-sidebar h4,
#pointread-sidebar h5,
#pointread-sidebar h6,
#pointread-sidebar pre,
#pointread-sidebar code,
#pointread-sidebar form,
#pointread-sidebar fieldset,
#pointread-sidebar legend,
#pointread-sidebar input,
#pointread-sidebar textarea,
#pointread-sidebar p,
#pointread-sidebar blockquote,
#pointread-sidebar th,
#pointread-sidebar td,
#pointread-sidebar hr,
#pointread-sidebar button,
#pointread-sidebar article,
#pointread-sidebar aside,
#pointread-sidebar details,
#pointread-sidebar figcaption,
#pointread-sidebar figure,
#pointread-sidebar footer,
#pointread-sidebar header,
#pointread-sidebar hgroup,
#pointread-sidebar menu,
#pointread-sidebar nav,
#pointread-sidebar section, #pointread-sidebar-flat div,
#pointread-sidebar-flat dl,
#pointread-sidebar-flat dt,
#pointread-sidebar-flat dd,
#pointread-sidebar-flat ul,
#pointread-sidebar-flat ol,
#pointread-sidebar-flat li,
#pointread-sidebar-flat h1,
#pointread-sidebar-flat h2,
#pointread-sidebar-flat h3,
#pointread-sidebar-flat h4,
#pointread-sidebar-flat h5,
#pointread-sidebar-flat h6,
#pointread-sidebar-flat pre,
#pointread-sidebar-flat code,
#pointread-sidebar-flat form,
#pointread-sidebar-flat fieldset,
#pointread-sidebar-flat legend,
#pointread-sidebar-flat input,
#pointread-sidebar-flat textarea,
#pointread-sidebar-flat p,
#pointread-sidebar-flat blockquote,
#pointread-sidebar-flat th,
#pointread-sidebar-flat td,
#pointread-sidebar-flat hr,
#pointread-sidebar-flat button,
#pointread-sidebar-flat article,
#pointread-sidebar-flat aside,
#pointread-sidebar-flat details,
#pointread-sidebar-flat figcaption,
#pointread-sidebar-flat figure,
#pointread-sidebar-flat footer,
#pointread-sidebar-flat header,
#pointread-sidebar-flat hgroup,
#pointread-sidebar-flat menu,
#pointread-sidebar-flat nav,
#pointread-sidebar-flat section {
  padding: 0;
  margin: 0;
}
