//回答弹窗content样式
%question-modal-content {
  position: relative;
  padding: 12px 16px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: box-shadow 0.3s;

  h3 {
    font-size: 16px;
    font-weight: bold;
  }
}

// 按钮样式
%btn {
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--btn-text-color);
  font-size: var(--btn-font-size);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-1);
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%logo {
  width: 100px;
  height: 96px;
}

// 滚动条样式
%linnk-extend-scrollbar {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
}

// block 标题样式
%mindecho-extend-title {
  padding: 9px 26px 9px 11px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-primary);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

// block 激活状态的标题样式
%mindecho-extend-title-active {
  color: var(--card-title-color);
  background-color: var(--card-title-background);
  border: 1px solid var(--card-title-background);
}

// block 段落样式
%mindecho-extend-p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  white-space: pre-wrap;
  background-color: var(--color-background);
}

// block 段落外框样式、骨架屏样式
%mindecho-extend-p-border,
%mindecho-extend-loading-skeleton {
  padding: 9px 11px;
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

// 溢出省略
%mindecho-extend-ellipsis {
  overflow: hidden;
  /* 隐藏溢出部分 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  white-space: nowrap;
  /* 不换行 */
}