@import '../../../../assets/style/public.extend';

.container {
  position: relative;
  width: 100%;
  line-height: var(--line-height);

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
      flex: 1;
      @extend %flex-center;

      .back {
        font-size: var(--icon-font-size);
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      @extend %flex-center;
      flex-direction: column;
      padding: 0 20px;

      .import-btn {
        width: 100%;
        max-width: 236px;
        min-width: 150px;
        height: 64px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 16px;
        letter-spacing: 0.5px;
      }

      .auto-add {
        margin-bottom: 10px;
        color: rgb(109, 109, 109);
        @extend %flex-center;

        span {
          margin-left: 5px;
        }
      }

      .exclude-tip {
          font-size: 20px;
          font-weight: bold;
          color: var(--color-blue);
          cursor: pointer;
      }
    }

    .center {
      width: 850px;
      padding: 20px 0 40px;

      .header {

        p {
          text-align: center;
          font-size: var(--font-size);
          font-weight: 700;
          color: #1B6593;
        }
      }

      .control-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .search {
          width: 250px;
          height: 37;
        }

        .select {
          display: none
        }
      }
    }
  }
}
