@import '../../../../assets/style/public.extend';

.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  line-height: var(--line-height);

  .userInfo {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: var(--font-size);
    color: var(--font-color);

    .logo {
      float: left;
      width: 100px;
      margin-right: 20px;
    }

    .userName{
      float: left;
      .name {
        font-weight: 500;
      }
      .recommend {
        font-size: 18px;
        color: rgb(61, 61, 61);
      }
    }
  }

  .control {
    width: 100%;
    min-height: calc(100vh - 126px);
    flex-direction: column;

    @extend %flex-center;

    .btn {
      width: 543px;
      height: 97px;
      margin: 20px 0;
      padding: 0 25px;
      text-align: left;
      font-size: var(--btn-font-size);
      @extend %btn;
      color: var(--color-white);
    }

    .btn-browser {
      color: rgb(255, 255, 255);
    }

    .btn-other {
      position: relative;
      background-color:#d0c5e0;
      color: #866BA1;

      .pocket-icon {
        position: absolute;
        right: 25px;
        width: 54px;
        height: 54px;
      }
    }
  }
}