@import '../../../../assets/style/public.extend';

.container {
  position: relative;
  line-height: var(--line-height);

  .userInfo {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: var(--font-size);
    color: var(--font-color);

    .logo {
      float: left;
      width: 100px;
      margin-right: 20px;
    }

    .userName {
      float: left;

      .name {
        font-weight: 500;
      }

      .recommend {
        font-size: 18px;
        color: rgb(61, 61, 61);
      }
    }
  }

  .control {
    width: 100%;
    min-height: calc(100vh - 126px);
    flex-direction: column;

    @extend %flex-center;

    .btn {
      width: 543px;
      height: 97px;
      margin: 20px 0;
      padding: 0 25px;
      text-align: left;
      font-size: var(--btn-font-size);
      @extend %btn;
      color: var(--color-white);
    }

    .btn-browser {
      color: rgb(255, 255, 255);
    }

    .btn-other {
      display: flex;
      align-items: center;
      background-color: #d0c5e0;
      color: #866BA1;

      &:hover {
        border-color: #735491;
      }

      .icon {
        margin-left: 15px;
        width: 39px;
        height: 39px;
      }
    }
  }
}

.source-modal {
  width: 430px;
  border-radius: 8px;

  :global {
    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-body {
      padding-top: 10px;
    }

    .ant-modal-content {
      overflow: hidden;
      border-radius: 8px;
    }
  }

  .source-content {
    width: 100%;

    .source-item {
      padding: 0 0 0 25px;
      position: relative;
      cursor: pointer;

      .addIcon {
        position: absolute;
        left: 0;
        top: 16px;
        color: #000;
        font-size: 25px;
      }

      .source-item-title {
        img {
          width: 212px;
          height: 62px;
        }
      }

      .source-item-text {
        margin: 10px 0 20px;
        padding-left: 12px;
        font-size: 12px;
        color: #3f3f3f;
      }
    }

    .source-twitter {
      .source-item-title {
        img {
          margin-left: 10px;
          width: 98px;
          height: 51px;
        }
      }
    }

    .raindrop-other {
      margin-top: 15px;
      padding: 0 0 0 25px;

      .source-raindrop-title {
        img {
          width: 192px;
          height: 58px;
        }
      }

      .source-raindrop-text {
        padding-left: 12px;
        font-size: 12px;
        color: #d4d6df;
      }
    }
  }

}