@import '@/assets/style/public.extend';

.content {
  position: relative;
  padding: 9px 11px;
  margin-bottom: 9px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  white-space: pre-wrap;
  background-color: var(--color-background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);

    .copy {
      visibility: visible;
    }
  }

  .title {
    margin-bottom: 6px;
    font-size: var(--font-size);
    font-weight: bold;
  }

  .text:not(:last-child) {
    margin-top: 12px;
  }

  .text-p {
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--color-text);
    white-space: pre-wrap;
    background-color: var(--color-background);
  }

  .gray {
    color: var(--color-text-second);
  }

  .copy {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
  }
}
