@import '@/assets/style/thinking.extend.scss';
@import '@/assets/style/public.extend.scss';

.container {

  .unsorted-title {
    @extend %extend-title-warpper;

    .unsorted-title-text {
      @extend %extend-title;
    }
  }

  .unsorted-title-active {
    @extend %extend-title-warpper-active;

    .unsorted-title-text {
      @extend %extend-title-active;
    }
  }

  .unsorted-content {
    // margin-top: 9px;

    .unsorted-content-summary {
      @extend %extend-item-summary;
    }

    .unsorted-content-title-wrapper {
      @extend %extend-item-title;

      %part-extend-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .unsorted-content-item-wrapper {
        @extend %part-extend-item;
        .unsorted-content-title-prefix-icon {
          width: 19px;
          height: 19px;
          margin-left: 9px;
        }
  
        .unsorted-content-title-text {
          max-width: 320px;
          color: var(--color-text);
          font-size: 12px;
          text-align: left;
        }
      }

      .unsorted-content-item-wrapper {
        @extend %part-extend-item;
        .unsorted-content-title-suffix-icon {
          font-size: 14px;
          width: 19px;
          height: 19px;
        }
        .unsorted-content-title-time {
          font-size: 12px;
          padding-right: 10px;
        }
      }
    }
  }

  .rc-virtual-list-scrllbar-style {
    @extend %linnk-extend-scrollbar;
  }
}