@import '@/assets/style/public.extend';

.userInfo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 30px 50px 0px;
  font-size: var(--font-size);
  color: var(--font-color);

  .logo {
    width: 100px;
    height: 96px;
    margin-right: 20px;
  }

  .userName{
    .name {
      font-weight: 500;
    }
    .recommend {
      font-size: 18px;
      color: #3c3c3c;
    }

    .note {
      font-size: 14px;
      color: #3c3c3c;
    }
  }
}