@import '@/assets/style/thinking.extend.scss';
@import '@/assets/style/public.extend.scss';

.container {
  margin-top: 8px;

  :global {

    .linnk-content-wrapper {
      .linnk-goal-title-wrapper {
        position: relative;
        @extend %extend-title-warpper;
  
        .linnk-goal-title {
          @extend %extend-title;
        }
        .linnk-goal-copy-icon {
          visibility: hidden;
          position: absolute;
        }
      }

      
      .linnk-goal-title-wrapper-active {
        position: relative;
        @extend %extend-title-warpper-active;
        
        .linnk-goal-title {
          @extend %extend-title-active;
        }
        .linnk-goal-copy-icon {
          visibility: hidden;
          position: absolute;
        }
        &:hover {
          .linnk-goal-copy-icon {
            color: var(--color-text-white);
            visibility: visible;
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: var(--font-size-sm);
          }
        }
      }
  
      .linnk-goal-article-item {
        /** 当为最后一项时，底部边框圆角 */
        &:last-child {
          .linnk-goal-article-item-title-wrapper {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }

        .linnk-goal-article-item-summary {
          @extend %extend-item-summary;
          border-top: 0px;
        }
  
        .linnk-goal-article-item-title-wrapper {
          @extend %extend-item-title;

          %part-extend-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          
          .linnk-goal-article-item-wrapper {
            @extend %part-extend-item;
            .linnk-goal-article-item-title-prefix-icon {
              width: 19px;
              height: 19px;
              margin-left: 9px;
            }
    
            .linnk-goal-article-item-title-text {
              font-size: 12px;
              max-width: 320px;
              color: var(--color-text);
              text-align: left;
            }
          }


          .linnk-goal-article-item-wrapper {
            @extend %part-extend-item;
            .linnk-goal-article-item-date {
              font-size: 12px;
              padding-right: 10px;
            }
          }
  
        }
      }

      .linnk-goal-loading-skeleton {
        @extend %linnk-extend-loading-skeleton;
      }
    }
  }
}