@import '@/assets/style/public.extend';

.chat-container {
  // position: relative;
  // height: calc(100vh - 92px);
  // padding: 10px;
  // overflow: hidden;
  padding-bottom: 110px;

  :global {
    .chat-list {
      display: flex;
      flex-direction: column;
      height: calc(100% - 75px);
      padding: 0 16px;
      overflow-y: auto;
    }

    .chatItem {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .input-message {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 16px;
      background: #fff;
      box-shadow: 0 5px 10px rgb(0 0 0 / 40%);

      .ant-input {
        color: #161616;
        resize: none;
      }
    }

    .icon-send {
      position: absolute;
      right: 22px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .my-message {
    margin-bottom: 12px;

    @extend %pointread-extend-p-border;
    @extend %pointread-extend-p;
  }

  .system-message {
    position: relative;

    @extend %pointread-extend-title;
    @extend %pointread-extend-title-active;

    .copy {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: var(--font-size-sm);
      visibility: hidden;
    }

    &:hover {
      .copy {
        visibility: visible;
      }
    }
  }

  .chat-loading-skeleton {
    @extend %pointread-extend-loading-skeleton;
  }
}
