@import '@/assets/style/public.extend.scss';

.content {
  @extend %question-modal-content;

  blockquote {
    position: relative;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: #3d6ff6;
    }
  }
  
  .copy {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
  }

  .title, h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .text:not(:last-child) {
    margin-top: 12px;
  }

  .text-p {
    font-size: 18px;
    line-height: 24px;
    color: var(--color-text);
    background-color: var(--color-background);

    p {
      margin-bottom: 8px;
    }
  }

  .gray {
    color: var(--color-text-second);
  }
}
