@import '@/assets/style/public.extend';

.container {
  .question-item {
    margin-bottom: 10px;
    line-height: var(--line-height);
    color: var(--color-primary);
    text-align: left;
    background-color: var(--color-background);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    transition: all .3s;
      
    &:last-child {
      margin-bottom: 0;
    }
  
    &:hover {
      background-color: var(--color-primary-second);
      box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
    }
  
    &-text {
      @extend %linnk-extend-title;

      cursor: pointer;
    }
  }
}
