.highlignt {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--border-color);
  cursor: pointer;
  transition: all .2s;

  &:hover {
    text-decoration-color: var(--color-text);
  }
}