.container {
  height: calc(100vh - 92px);
  overflow-y: auto;
  font-family: var(--font-family);
  transition: height 500ms ease;

  .wrap {
    padding: 16px;
  }

  .paragraph {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: 5px;
      font-size: var(--font-size);
      font-weight: bold;
      line-height: var(--line-height);
      text-align: left;
    }

    &-loading {
      padding: 12px 14px;
      background-color: var(--color-background);
      border: 1px solid var(--border-color);
    }
  }

  .subscribe-modal-wrapper {
    top: 90px;

    :global {
      .ant-modal-body {
        padding: 14px 18px;
      }
    }
  }
}