.container {
  height: calc(100vh - 80px);
  overflow-y: auto;
  font-family: var(--font-family);
  transition: height 500ms ease;
}

.container .wrap {
  padding: 16px;
}

.container .paragraph {
  margin-bottom: 20px;
}

.container .paragraph:last-child {
  margin-bottom: 0;
}

.container .paragraph-title {
  margin-bottom: 5px;
  font-size: var(--font-size);
  font-weight: bold;
  line-height: var(--line-height);
  text-align: left;
}

.container .paragraph-loading {
  padding: 12px 14px;
  background-color: var(--color-background);
  border: 1px solid var(--border-color);
}

.container .subscribe-modal-wrapper {
  top: 90px;
}

.container .subscribe-modal-wrapper :global .ant-modal-body {
  padding: 40px 15px;
  border: 1px solid var(--border-black);
  border-radius: 5px;
}
