.wrapper {
  position: fixed;
  top: 28.2%;
  right: 0;
  z-index: 99999999999;
  border-radius: 6px 0 0 6px;
}

.wrapper .container {
  position: relative;
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 46px;
  font-size: var(--font-size);
}

.wrapper .container .summarize {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow-0);
  transition: all .3s;
}

.wrapper .container .summarize.highlight-animate {
  animation: background ease-in-out 2s 2s;
}

@keyframes background {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: var(--color-primary);
  }
  100% {
    background-color: #fff;
  }
}

.wrapper .container .summarize .img-logo {
  width: 30px;
  height: 30px;
  filter: none;
  transition: all .3s;
}

.wrapper .container .summarize .span {
  max-width: 0;
  overflow: hidden;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-primary);
  white-space: nowrap;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.wrapper .container .icon {
  position: absolute;
  right: 2px;
  z-index: 1;
  font-size: 18px;
  color: var(--color-text-second);
  cursor: pointer;
  opacity: 0;
  transition: all .3s;
}

.wrapper .container .icon.close-icon {
  top: 0;
  padding-bottom: 0;
}

.wrapper .container .icon.setting-icon {
  bottom: 0;
  padding-top: 5px;
}

.wrapper .container .icon img {
  width: 18px;
  height: 18px;
}

.wrapper .container.hover .summarize {
  box-shadow: var(--box-shadow);
}

.wrapper .container.hover .summarize .img-logo {
  width: 36px;
  height: 36px;
}

.wrapper .container.hover .summarize .span {
  max-width: 200px;
}

.wrapper .container.hover .icon {
  opacity: 1;
}

.wrapper .container.hover .icon.close-icon {
  transform: translateY(-100%);
}

.wrapper .container.hover .icon.setting-icon {
  transform: translateY(100%);
}

.wrapper .container .hover-link {
  padding: 0 12px 10px;
  font-size: var(--font-size-sm);
  color: var(--color-primary);
  cursor: pointer;
}

.wrapper .container .setting-image {
  width: 295px;
  height: auto;
}

.wrapper .container .dropdown-content {
  background: #fff;
  box-shadow: var(--box-shadow);
}

.wrapper .container .dropdown-content :global .ant-dropdown-menu {
  box-shadow: none;
}

.wrapper .container :global .ant-tooltip {
  max-width: none;
}

.wrapper .container :global .ant-dropdown {
  width: 200px;
}

.arrow {
  position: fixed;
  top: 0;
  right: 180px;
  z-index: 99999999999;
  pointer-events: none;
  transition: all .2s;
}

.close-tips {
  position: fixed;
  top: 0;
  right: 150px;
  z-index: 99999999999;
  width: 1px;
  height: 1px;
}

.close-tips-tooltip {
  width: 380px;
  max-width: none;
  font-size: var(--font-size-sm);
}

.close-tips-tooltip .close-tips-content {
  display: flex;
  gap: 12px;
  align-items: center;
}

.close-tips-tooltip .close-tips-content :global .anticon {
  font-size: var(--font-size);
  color: var(--color-primary);
}

.close-tips-tooltip :global .ant-tooltip-inner {
  padding: 8px 16px;
  border-radius: 15px;
}
