@import '@/assets/style/public.extend';

.container {
  position: relative;
  z-index: 10;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);

  @extend %pointread-extend-scrollbar;

  .header-userinfo {
    padding: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-black)
  }

  .header-language {
    padding: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: var(--box-shadow);

    .language-select {
      min-width: 200px;
    }

    .language-title {
      margin-bottom: 4px;
      font-weight: 500;
    }
  }

  .language-region {
    font-size: var(--font-size-sm);
    color: var(--color-text-second);
  }

  .language-show {
    padding-right: 10px;
    font-size: var(--font-size);
    font-weight: bold;
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 15px 12px;
    color: #fff;
    text-align: center;
    background-color: #F5F5F5;

    .header-logo {
      display: flex;
      align-items: center;
    }

    .logo {
      height: 30px;
      width: auto;
      margin-right: 4px;
      filter: none;
    }

    .name {
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      color: #000;
    }

    .header-user {
      display: flex;
      align-items: center;
      line-height: normal;
    }

    .header-user-icon {
      position: relative;
      display: block;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  :global {
    .ant-tabs-tab {
      padding-bottom: 5px;
    }

    .ant-tabs-tab-btn {
      font-weight: bold;
    }

    .ant-tabs-nav::before {
      border-bottom: none !important;
    }

    .ant-tabs-nav {
      padding: 0 8px 0 16px;
      margin-top: -10px;
      margin-bottom: 0;
      background-color: #fff;
      box-shadow: 0 4px 4px -2px #0000000d;
    }

    .ant-tabs-content-holder {
      height: calc(100vh - 92px);
      overflow: hidden;
    }

    .anticon-user {
      margin-right: 0 !important;
    }

    .i-icon {
      display: flex;
      align-items: center;
    }
  }
}
