.wrapper {
  position: fixed;
  top: 38.2%;
  right: 0;
  z-index: 99999999999;
  border-radius: 6px 0 0 6px;

  .container {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 46px;
    font-size: var(--font-size);

    .summarize {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: flex;
      gap: 3px;
      align-items: center;
      padding: 7px 4px 7px 7px;
      cursor: pointer;
      user-select: none;
      background: #fff;
      border: 1px solid var(--border-color);
      border-right: none;
      border-radius: 6px 0 0 6px;
      box-shadow: var(--box-shadow);

      &.highlight-animate {
        animation: background ease-in-out 2s 2s;
      }

      @keyframes background {
        0% {
          background-color: #fff;
        }

        50% {
          background-color: var(--color-primary);
        }

        100% {
          background-color: #fff;
        }
      }

      .img-logo {
        width: 30px;
        height: 30px;
        filter: none;
      }

      .span {
        max-width: 0;
        overflow: hidden;
        font-size: var(--font-size);
        font-weight: bold;
        color: var(--color-primary);
        white-space: nowrap;
        transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      }
    }

    .icon {
      position: absolute;
      right: 5px;
      z-index: 1;
      font-size: 18px;
      color: var( --color-text-second);
      cursor: pointer;
      opacity: 0;
      transition: all .3s;

      &.close-icon {
        top: 0;
        padding-bottom: 5px;
      }

      &.setting-icon {
        bottom: 0;
        padding-top: 5px;
      }

      img {
        width: 18px;
        height: 18px;
      }
    }

    &.hover {
      .summarize
      .span {
        max-width: 200px;
      }

      .icon {
        opacity: 1;

        &.close-icon {
          transform: translateY(-100%);
        }
  
        &.setting-icon {
          transform: translateY(100%);
        }
      }
    }

    .hover-link {
      padding: 0 12px 10px;
      font-size: var(--font-size-sm);
      color: var(--color-primary);
      cursor: pointer;
    }

    .setting-image {
      width: 295px;
      height: auto;
    }

    .dropdown-content {
      background: #fff;
      box-shadow: var(--box-shadow);

      :global {
        .ant-dropdown-menu {
          box-shadow: none;
        }
      }
    }

    :global {
      .ant-tooltip {
        max-width: none;
      }

      .ant-dropdown {
        width: 200px;
      }
    }
  }
}

.arrow {
  position: fixed;
  top: 0;
  right: 180px;
  z-index: 99999999999;
  pointer-events: none;
  transition: all .2s;
}

.close-tips {
  position: fixed;
  top: 0;
  right: 150px;
  z-index: 99999999999;
  width: 1px;
  height: 1px;
}

.close-tips-tooltip {
  width: 380px;
  max-width: none;
  font-size: var(--font-size-sm);

  .close-tips-content {
    display: flex;
    gap: 12px;
    align-items: center;

    :global {
      .anticon {
        font-size: var(--font-size);
        color: var(--color-primary);
      }
    }
  }

  :global {
    .ant-tooltip-inner {
    padding: 8px 16px;
      border-radius: 15px;
    }
  }
}
