@import '../../../../assets/style/public.extend';

.list-box {
  height: calc(100vh - 200px);
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  overflow: scroll;

  .treeList {

    :global {
      .ant-tree-treenode {
        width: 100%;
        flex: 1;
        overflow: hidden;
      }

      .ant-tree-node-content-wrapper {
        width: 100%;
        overflow: hidden;
      }
    }

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        display: inline-block;
        width: 25%;
        margin-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .url {
        display: inline-block;
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #b7b7b7;
      }
    } 
  }
}