.container .userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  line-height: var(--line-height);
}

.container .userInfo {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: var(--font-size);
  color: var(--font-color);
}

.container .userInfo .logo {
  width: 100px;
  margin-right: 20px;
}

.container .content {
  max-width: 850px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 0 40px;
}

.container .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.container .content .header .back {
  font-size: var(--icon-font-size);
  cursor: pointer;
}

.container .content .header p {
  font-size: var(--font-size);
  font-weight: 700;
  color: #1B6593;
}

.container .content .header .import-btn {
  width: 236px;
  height: 49px;
}

.container .content .control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container .content .control-box .search {
  width: 250px;
  height: 37;
}

.container .content .control-box .select {
  display: none;
}

.container .content .list-box {
  height: 80vh;
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  overflow: scroll;
}
