@import '@/assets/style/public.extend';

.chat-container {
  // position: relative;
  // height: calc(100vh - 92px);
  // padding: 10px;
  // overflow: hidden;
  padding-bottom: 110px;

  .chat-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 75px);
    padding: 0 16px;
    overflow-y: auto;
  }

  .input-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 16px;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
  }

  .icon-send {
    position: absolute;
    right: 22px;
    bottom: 50%;
    transform: translateY(50%);
  }

  :global {
    .ant-input {
      color: #161616;
      resize: none;
    }
  }

  .my-message {
    padding-bottom: 0;
    margin-bottom: 12px;
    white-space: normal;

    @extend %linnk-extend-p-border;
    @extend %linnk-extend-p;
  }

  .system-message {
    position: relative;

    @extend %linnk-extend-title;
    @extend %linnk-extend-title-active;

    .copy {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: var(--font-size-sm);
      visibility: hidden;
    }

    &:hover {
      .copy {
        visibility: visible;
      }
    }
  }

  .chat-loading-skeleton {
    @extend %linnk-extend-loading-skeleton;
  }

  .switch-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 6px;

    .switch-item {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: var(--font-size-sm);

      &.primary {
        font-weight: bold;
        color: var(--color-primary);
      }
    }
  }
}
